body{
	display: block;
	margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
    background-color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    font-family: 'Lato', sans-serif;
    font-size: 3.8em;
    color: white;
    text-align: center;
    padding-right: 30%;
    padding-top: 5%;
    padding-left: 30%;
    margin-bottom: 0px;
}

p {
    font-size: 1.5em !important;
    padding-right: 8%;
    padding-left: 8%;
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: center;
}